@import "./fontawesome/less/fontawesome.less";

@import "./fontawesome/less/solid.less";
@import "./fontawesome/less/brands.less";


@lc: #FFFFFF;
@gc: #97975c;
@dc: #000000;
@bc: #070d44;

body{
    font-size: 16px;

    .main{
        position: relative;

        &::before{
            content: '';
            background-image: url(business-people-dark-blue-overlay-white-math-graphics-digital-composite-89406963.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 1000px;
            width: 40%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1
        }
        
        .page_background_second{
            background-image: url(1_The-main-picture-of-Villa-Noce-790x500.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 1000px;
            width: 60%;
            right: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }
    }
}

.container{
    width: 1400px;

    .row{
        margin-top: 40px;
        
        img{
            margin-bottom: 60px;
        }

        .navbar{
            float: right;
            font-size: 0.875em;
            text-transform: uppercase;
            position: absolute;
            right: 60px;

            .navbar-nav{
                >li{
                    a{
                        color: @lc;
                        background-color: transparent;
                        transition: .3s;

                        &:hover{
                            text-decoration: underline;
                            text-underline-offset: 6px;
                            text-decoration-color: @gc;
                            text-decoration-thickness: 3px;
                        }
                    }
                    
                    &:hover{
                        .dropdown-menu{
                            display: block;

                            .sub-menu{
                                left: 100%;
                                position: absolute;
                                top: 0;
                                visibility: hidden;
                                margin-top: -1px;
                            }

                            li{
                                &:hover{
                                    .sub-menu{
                                        visibility: visible;
                                    }
                                }

                                a{
                                    color: @dc;
                                }
                            }
                        }
                    }
                }
            } 
        }    

        .flags_wrapper{
            position: relative;
            float: right;

            li{
                display:inline;
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 15px;
                height: 16px;
                width: 20px;

                &:nth-child(1){
                    background-image: url(hr.svg);
                    right: 10px;
                }

                &:nth-child(2){
                    background-image: url(de.svg);
                    left: 40px;
                }

                &:nth-child(3){
                    background-image: url(gb.svg);
                    left: 70px;
                }

                &:nth-child(4){
                    background-image: url(it.svg);
                    left: 100px;
                }

                a{
                    color: transparent;
                }
            }
        }
    }

    .gold_dec{
        color: @lc;
        text-align: left;
        position: relative;
    
        >p{
            text-transform: uppercase;
            font-size: 3.500em;
    
            &:nth-of-type(2){
                text-transform: none;
                font-size: 10.625em;
                font-family: Brush Script MT, Brush Script Std, cursive;
                line-height: 0.4;
                margin-bottom: 60px;
    
                &::before{
                    content: '';
                    position: absolute;
                    background-color: @gc;
                    width: 300px;
                    height: 5px;
                    display: block;
                    left: -125px;
                    top: 80px;
                }
            }

            &:nth-child(3){
                text-transform: none;
                color: @lc;
                font-size: 1.250em;
                text-align: left;
                max-width: 320px;
            }
        }
    
    
    }
    
    .map_wrapper{
        position: relative;
        margin-bottom: 40px;
        
        &::after{
            content: '';
            background-image:url(260-2608498_jamaica-clipart-island-jamaica-map-png.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            height: 300px;
            width: 390px;
        }
    }
    
    form{
        background-color: @lc;
        padding: 15px;
        box-sizing: border-box;
        border: 5px solid @gc;
        margin-bottom: 83px;
    
        .form-group{
            border-right: 1px solid grey;
            padding-left: 5px;
            width: 20%;
            position: relative;
    
            &::after{
                .fa-icon;
                .fa-solid;
                float: left;
                position: absolute;
                margin-left: 10px;
                color: @gc;
                margin-top: 5px;
                z-index: 1;
                left: 0;
            }
    
            &:nth-child(1){
                &::after{
                    content: @fa-var-house;
                }
            }
    
            &:nth-child(2){
                &::after{
                    content: @fa-var-location-crosshairs;
                }
            }
    
            &:nth-child(3){
                &::after{
                    content: @fa-var-tags;
                }
            }
    
            &:nth-child(4){
                &::after{
                    content: @fa-var-vector-square;
                }
            }
    
            &:nth-child(5){
                border-right: none;
                width: 13%;
    
            }
    
            &:last-child{
                border-right: none;
                padding-left: 0;
                width: 5%;
            }
    
            label{
                display: block;
                font-size: 1.125em;
            }
    
            input,
            select{
                border: none;
                font-size: 1.250em;
                width: 100%;
                padding-left: 30px;
            } 
        
            button{
                background-color: @gc;
                border: none;
                padding: 40px 15px;
                color: @lc;
                .fa-icon-solid(@fa-var-magnifying-glass);
                .fa-size(700px)
            }
        }
    }    
}

// ---------------------------------------------------------------------------------------------------------------------------------
// ostatak stranice

// .row{
//     .col-md-4{
//         text-align: left;
//         h3{
//             font-size: 2.125em;
//             text-transform: uppercase;
//             margin-bottom: 30px;
//         }

//         >p{
//             margin-bottom: 30px;

//             &:nth-child(3){
//                 color: lighten(@dc, 50%);
//                 line-height: 1.8;
//             }
//         }

//         .btn{
//             background-color: @gc;
//             color: @lc;
//             padding: 20px 50px;
//             border-radius: 0;
//             font-size: 1.125em;

//             &::after{
//                 .fa-icon;
//                 .fa-solid;
//                 content: @fa-var-arrow-right;
//                 margin-left: 20px;
//             }
//         }
//     }

//     .card{
//         text-align: center;
//         position: relative;

//         &::before{
//             content: 'ZA PRODAJU';
//             position: absolute;
//             background-color: @gc;
//             width: 135px;
//             height: 25px;
//             display: block;
//             left: 285px;
//             top: 15px;
//             color: @lc;
//             text-align: center;
//         }
        
//         img{
//             margin-bottom: 0;
//         }

//         p{
//             &:nth-of-type(1){
//                 margin-top: 40px;
//                 display: inline-block;
//                 position: relative;
//                 font-size: 1.375em;
//                 font-weight: 700;

//                 &::before{
//                     content: '€ 230.000';
//                     color: @gc;
//                     font-size: 1.250em;
//                     position: absolute;
//                     background-color: @bc;
//                     width: 150px;
//                     height: 40px;
//                     display: block;
//                     text-align: center;
//                     bottom: 50px;
//                     left: 153px;
//                 }
//             }
//         }
//     }
// }
