body {
  font-size: 16px;
}
body .main {
  position: relative;
}
.page_background_first {
  background-image: url(business-people-dark-blue-overlay-white-math-graphics-digital-composite-89406963.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  width: 40%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.page_background_second {
  background-image: url(1_The-main-picture-of-Villa-Noce-790x500.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  width: 60%;
  right: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}
.container {
  width: 1400px;
}
.container > .row {
  margin-top: 40px;
}
.container img {
  margin-bottom: 60px;
}
.container .navbar {
  float: right;
  font-size: 0.875em;
  text-transform: uppercase;
  position: absolute;
  right: 60px;
}
.container .navbar .navbar-nav > li:hover .dropdown-menu {
  display: block;
}
.container .navbar .navbar-nav > li:hover .dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
.container .navbar .navbar-nav > li:hover .dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
.container .navbar .navbar-nav > li:hover .dropdown-menu li a {
  color: #000000;
}
.container .navbar li a {
  color: #FFFFFF;
}
.container .navbar li a:hover {
  background-color: transparent;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #97975c;
  text-decoration-thickness: 3px;
  transition: 0.3s;
}
.container .flags_wrapper {
  position: absolute;
  right: -120px;
  top: 15px;
}
.container .gold_dec {
  color: #FFFFFF;
  text-align: left;
}
.container .gold_dec > p {
  text-transform: uppercase;
  font-size: 3.5em;
}
.container .gold_dec > p:nth-of-type(2) {
  text-transform: none;
  font-size: 10.625em;
  font-family: Brush Script MT, Brush Script Std, cursive;
  position: absolute;
  top: 190px;
  left: 250px;
}
.container .gold_dec > p:nth-of-type(2)::before {
  content: '';
  position: absolute;
  background-color: #97975c;
  width: 300px;
  height: 5px;
  display: block;
  left: -125px;
  top: 80px;
}
.container .map_wrapper {
  margin-top: 70px;
}
.container .map_wrapper p {
  color: #FFFFFF;
  font-size: 1.25em;
  text-align: left;
}
.container .form_inner_wrapper {
  background-color: #FFFFFF;
  padding: 15px;
  box-sizing: border-box;
  border: 5px solid #97975c;
}
.container .form_inner_wrapper .form-group {
  border-right: 1px solid grey;
  padding-left: 5px;
}
.container .form_inner_wrapper .form-group label {
  display: block;
  font-size: 1.125em;
  min-width: 250px;
}
.container .form_inner_wrapper .form-group i {
  color: #97975c;
}
.container .form_inner_wrapper .form-group input,
.container .form_inner_wrapper .form-group select {
  border: none;
  font-size: 1.25em;
}
.container .form_inner_wrapper .form-group:nth-child(5) {
  border-right: none;
  width: 150px;
}
.container .form_inner_wrapper .form-group:last-child {
  border-right: none;
  padding-left: 0;
}
.container .form_inner_wrapper .form-group button {
  margin-left: 10px;
  background-color: #97975c;
  border: none;
}
.container .form_inner_wrapper .form-group button i {
  font-size: 40px;
  padding: 10px;
  color: #FFFFFF;
}
